@font-face {
  font-family: 'Lato';
  src: url("../assets/fonts/Lato-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url("../assets/fonts/Lato-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url("../assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url("../assets/fonts/Lato-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url("../assets/fonts/Lato-Black.ttf");
  font-weight: 900;
}

:root {
  --font: 32px;
  --padding: 10px 30px;
  --padding-main: 5px 30px;
  --dark-blue: #000003;
  --yellow: #F5DF4D;
  --orange: #FDAC53;
  --white: #FFFFFF;
  --gray: #939597;
  --back-black: rgba(0, 0, 3, 0.3);
  --back-gray: rgba(54, 57, 69, 0.3);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: var(--font);
  color: var(--white);
  text-align: center;
  background-color: var(--dark-blue);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header {
  max-width: 1024px;
  min-height: 7vh;
  margin: 0 auto;
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-logo {
  width: 100px;
  height: 40px;
  background-image: url("../assets/svg/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header-settings {
  width: 25px;
  height: 25px;
  background-image: url("../assets/svg/settings.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.main {
  max-width: 1024px;
  min-height: 86vh;
  margin: 0 auto;
  padding: var(--padding-main);
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.footer {
  max-width: 1024px;
  min-height: 6vh;
  margin: 0 auto;
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.rss-link {
  width: 60px;
  height: 23px;
  background-image: url("../assets/svg/rs_school.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.footer-info {
  display: flex;
  align-items: flex-end;
  font-size: 0.5em;
}

.git-link {
  width: 40px;
  height: 23px;
  background-image: url("../assets/svg/github-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.header-settings:hover,
.git-link:hover,
.rss-link:hover {
  filter: invert(52%) sepia(91%) saturate(392%) hue-rotate(-23deg) brightness(134%) contrast(97%);
  opacity: 0.8;
}

.header-settings:active,
.git-link:active,
.rss-link:active {
  transform: scale(1.1);
}

.header-settings:hover {
  transform: rotate(90deg);
}

/* MAIN PAGE */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: calc(80vh - 165px);
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.main__button {
  width: 230px;
  height: 50px;
  padding: 10px;
  background-color: var(--back-black);
  font-size: 0.7em;
  text-transform: uppercase;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.9;
  cursor: pointer;
}

.main__button:hover {
  border: 1px solid var(--white);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
}

.main__button:active {
  transform: translateY(3px);
}

/* CATEGORIES */

.categories-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.categories__buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.categories__title {
  font-size: 1.1em;
  text-transform: uppercase;
}

.categories__button,
.quiz__button {
  width: 170px;
  height: 35px;
  padding: 9px;
  background-color: var(--back-black);
  font-size: 0.5em;
  text-transform: uppercase;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.9;
  cursor: pointer;
}

.plug {
  width: 170px;
}

.categories__button:hover,
.quiz__button:hover {
  border: 1px solid var(--white);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
}

.categories__button:active,
.quiz__button:active {
  transform: translateY(3px);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 28px;
  transition: 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.card {
  position: relative;
  width: 220px;
  height: 280px;
  background-size: cover;
  background-position: center;
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.01);
}

.card:hover .card-title {
  background-color: var(--back-black);
  color: var(--orange);
  opacity: 1;
}

.card:active {
  transform: translateY(3px);
}

.gray-image {
  background-color: var(--gray);
  background-blend-mode: luminosity;
}

.card-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--dark-blue);
  opacity: 0.7;
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.card-number {
  font-size: 1.2em;
}

.card-score {
  font-size: 0.8em;
  color: var(--orange);
}

.score_button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  font-size: 0.65em;
  padding: 10px;
  background-color: var(--orange);
  opacity: 0.7;
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(calc(100% - 45px));
}

.score_button:hover {
  transform: translateX(0);
  opacity: 1;
}

.score_button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background-image: url("../assets/svg/star.svg");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

/* SCORE */


.score-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 28px;
}

.score_cards-container {
  width: 220px;
  height: 280px;
}

.score__card-item {
  position: relative;
  width: 220px;
  height: 280px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
}

.score__card-item:hover {
  transform: scale(1.01);
}

.score__card-item:active {
  transform: translateY(3px);
}

.score__card-info {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95px;
  font-size: 0.5em;
  background-color: var(--orange);
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.9;
  transform: translateY(95px);
}

.score__card-info.show {
  transform: translateY(0);
}

/* QUIZ */

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate(-100vw, -50vh);
}

.quiz__question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  transition: 1.8s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate(-50vw, -50vh);
}

.timer {
  height: 30px;
  font-size: 0.8em;
  transition: 1.8s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate(-50vw, -50vh);
}

.quiz__img {
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 1.8s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate(-50vw, -50vh) scale(0);
}

.quiz__pagination {
  display: flex;
  gap: 15px;
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(-100vw);
}

.pagination-dot {
  border: 0.5px solid var(--white);
  border-radius: 50px;
  width: 8px;
  height: 8px;
}

.quiz__answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 600px;
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate(-100vw, 0);
}

.quiz__answer {
  width: 300px;
  height: 40px;
  padding: 9px;
  font-size: 0.5em;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.9;
  cursor: pointer;
}

.quiz__answer:hover {
  border: 1px solid var(--white);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
}

.quiz__img-container {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 20px;
 transform: translate(-50vw, -50vh) scale(0);
 transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.quiz__img-answer {
  width: 300px;
  height: 300px;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.quiz__img-answer:hover {
  transform: scale(1.01);
}

.quiz__img-answer:active {
  transform: translateY(3px);
}

/* POPUP */

.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100vw);
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #9BB7D4;
  opacity: 0;
  z-index: 3;
  transition: 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.answer-container,
.result-container {
  position: absolute;
  bottom: calc(50vh - 300px);
  left: calc(50vw - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
  width: 600px;
  height: 600px;
  color: #363945;
  font-size: 0.6em;
  background-color: var(--white);
  z-index: 5;
  transform: translateY(-100vh) scale(0);
  transition: 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.result-container {
  justify-content: space-between;
  transition-delay: 0.5s;
}

.answer__indicator {
  position: absolute;
  top: -31px;
  width: 65px;
  height: 65px;
  border: 5px solid white;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.answer__image,
.result__image {
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.result__image {
  background-image: url("../assets/svg/champion-cup.svg");
}

.result__text,
.result__score {
  font-size: 2em;
  font-weight: 700;
}

.answer__next-button,
.result__next-button {
  width: 150px;
  height: 40px;
  padding: 10px;
  margin-top: 60px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--orange);
  cursor: pointer;
}

.answer__next-button:hover,
.result__next-button:hover {
  border: 1px solid var(--white);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
}

.answer__next-button:active,
.result__next-button:active {
  transform: translateY(3px);
}

/* SETTINGS */

.settings-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.settings-main-title {
  font-size: 1.1em;
  text-transform: uppercase;
}

.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.settings-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.settings-volume-container,
.settings-timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--back-gray);
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.volume-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  gap: 10px;
}

.volume {
  width: 30px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/svg/volume.svg");
}

.muted {
  background-image: url("../assets/svg/mute.svg");
}

.volume-muted,
.inactive {
  opacity: 0.5;
  filter: grayscale(0.4);
}

.volume-bar {
  width: 200px;
  height: 5px;
  background: #FFFFFF;
  transition: 0.25s;
  cursor: pointer;
}

.volume-bar-percentage {
  width: 100%;
  height: 5px;
  background: var(--orange);
  transition: 0.25s;
}

input[type=checkbox]{
	display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 35px;
}

.switch-handle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray);
  border-radius: 34px;
  transition: 0.4s;
}

.switch-handle::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  border-radius: 50%;
  transition: 0.4s;
}

.switch-label {
  font-size: 0.5em;
  line-height: 1.3em;
  cursor: pointer;
}

.switch-label::before {
  position: absolute;
  content: attr(data-off);
  right: 10px;
  top: 7px;
  color: var(--white);
}

.switch-label::after {
  position: absolute;
  content: attr(data-on);
  left: 10px;
  top: 7px;
  color: var(--white);
  opacity: 0;
}

#volume-switch:checked ~ label .volume-switch-label::before,
#time-switch:checked ~ label .time-switch-label::before {
  opacity: 0;
}

#volume-switch:checked ~ label .volume-switch-label::after,
#time-switch:checked ~ label .time-switch-label::after {
  opacity: 1;
}

#volume-switch:checked ~ label .volume-switch-handle,
#time-switch:checked ~ label .time-switch-handle {
  background-color: var(--orange);
}

#volume-switch:checked ~ label .volume-switch-handle::before,
#time-switch:checked ~ label .time-switch-handle::before {
  transform: translateX(35px);
}

.time-button {
  width: 30px;
  height: 30px;
  font-size: 0.7em;
  font-weight: 900;
  line-height: 0.5em;
  background-color: var(--orange);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.time-button:hover {
  opacity: 0.8;
}

.time-button:active {
  transform: translateY(3px);
}

.time__number {
  width: 80px;
  height: 30px;
  font-size: 0.8em;
  font-weight: 700;
  color: var(--dark-blue);
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.4s;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.settings-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}


@media (max-width: 1023px) {

  .categories__buttons-container {
    justify-content:space-evenly;
  }

  .cards-container {
    justify-content:space-evenly;
  }

  .settings-inner-container {
    justify-content: space-around;
    gap: 20px;
  }

}

@media (max-width: 768px) {

  :root {
    --font: 24px;
  }

  body {
    background-size: cover;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .main__button {
    padding: 15px;
  }

  .categories__button {
    padding: 10px;
  }

  .switch-label {
    line-height: 1.9em;
  }

  .quiz__img {
    width: 500px;
    height: 500px;
  }

  .quiz__answers-container {
    width: 500px;
  }

  .quiz__answer {
    width: 250px;
  }

  .quiz__img-container {
    grid-gap: 10px;
  }
    
  .quiz__img-answer {
    width: 250px;
    height: 250px;
  }

  .answer-container, .result-container {
    width: 500px;
    height: 500px;
    bottom: calc(50vh - 250px);
    left: calc(50vw - 250px);
  }

  .answer__image,
  .result__image {
    margin-top: 25px;
  }

}

@media (max-width: 580px) {

  :root {
    --padding: 10px 20px;
  }

  .header-logo {
    width: 75px;
    height: 30px;
  }

  .header-settings {
    width: 20px;
    height: 20px;
  }

  .button {
    width: 240px;
  }

  .rss-link {
    width: 55px;
    height: 20px;
  }

  .git-link {
    width: 35px;
    height: 23px;
  }

  .categories__buttons-container,
  .settings-title-container,
  .settings-button-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .categories__button {
    order: 1;
  }

  .settings-volume-container,
  .settings-timer-container {
    width: 350px;
    height: 350px;
  }

  .volume-container {
    width: 200px;
  }

  .quiz__question-container {
    flex-direction: column;
  }

  .quiz__question {
    order: 2;
  }

  .quiz__img {
    width: 300px;
    height: 300px;
  }

  .quiz__answers-container {
    grid-template-columns: 1fr;
    width: 300px;
  }

  .quiz__img-container {
    grid-template-columns: 1fr;
  }

  .answer-container, .result-container {
    width: 340px;
    height: 340px;
    bottom: calc(50vh - 170px);
    left: calc(50vw - 170px);
    padding: 20px;
  }

  .answer__indicator {
    top: -20px;
    width: 40px;
    height: 40px;
    border: 3px solid white;
    background-size: 20px;
  }

  .answer__next-button, .result__next-button {
    height: 35px;
    margin-top: 20px;
  }

  .answer__image, .result__image {
    width: 170px;
    height: 170px;
    margin-top: 0;
    margin-bottom: 8px;
  }

}